//>  ████████████████████████████████████  1


//>  ████████████████████████████████████  2


//>  ████████████████████████████████████  3


//>  ████████████████████████████████████  4


//>  ████████████████████████████████████  5


#firstName {

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;

}

#firstName2 {}

#lastName {

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;

}



#password {

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;

}

#phone {

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;

}

#decade {

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';

}

#form__decade {

    font-size: 3vw;

}

#coffee {
    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;
    ;
}

#form__coffee {

    font-size: 3vw;

}

input {

    margin-top: 0vw;

}

input::placeholder {

    font-family: "light";
    font-size: 2vw;
    color: gray;
    transform: translateY(-.25vw);
    /* Adjust the value as needed */

}

input:focus {
    border: 2px solid #000;
    /* Customize the border color when focused */
    background-color: #fff;
    /* Customize the background color when focused */
}

form {

    width: 90vw;
    margin: 0 auto;

}

.form__group {
    display: flex;

    height: 8vw;
    align-items: center;
    line-height: 1;
}

.form__group label {
    flex: 0 0 30vw;
    /* Adjust the width of the label */
    text-align: right;
    /* Align text to the right */
    margin-right: 1vw;
    /* Space between label and input */
}

.form__group input {
    flex: 1;
    /* Ensure input fields take up available space */
}

.form2__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 2vw;
    /* Space between columns */
    /* Space between form groups */
}


.form2__group label {
    margin-bottom: 0.2vw;
    /* Reduce space between label and input */
    font-size: 2vw;
    line-height: .25;
    font-family: 'regular';
    text-align: left;
    /* Align text to the left */
    display: block;
    /* Ensure label is a block element */
}


.form2__group input {
    padding: 0.5vw;
    /* Adjust padding as needed */
    font-size: 3vw;
    /* Adjust as needed */
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;
}

.form3__group {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2vw;
    display: inline-block;
}

.form3__group label {
    margin-bottom: 0.2vw;
    font-size: 2vw;
    line-height: .25;
    font-family: 'regular';
    text-align: left;
    display: block;
}

.form3__group label {
    margin-bottom: 0.2vw;
    font-size: 2vw;
    font-family: 'regular';
    text-align: left;
    display: block;
}

.form3__group input {
    padding: 0.5vw;
    font-size: 3vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    width: 100%;
    margin: 0;
}



;
/* Ensure no additional margin */


legend {

    text-align: left;
    font-family: 'regular';
    font-size: 4vw;

}

#tacos {

    text-align: left;

}

#churchOrg {

width: 39vw;

}

#sponsorHost {

width: 39vw;

}

#city1 {

width: 45vw;

}

#state1 {

width: 18vw;

}

#zip1 {

width: 18vw;

}

.radio__group {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    /* Space between radio button groups */
}

.radio__group input[type="radio"] {
    margin-right: 1vw;
    /* Space between radio button and label */
}

.radio__group label {
    font-size: 5vw;
    /* Adjust as needed */
}

.checkbox__group {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    /* Space between radio button groups */
}

.checkbox__group input[type="radio"] {
    margin-right: 1vw;
    /* Space between radio button and label */
}

.checkbox__group label {
    font-size: 5vw;
    /* Adjust as needed */
}

#message {

    font-family: 'regular';
    padding-top: 4vw;

}