//>  ████████████████████████████████████  1


//>  ████████████████████████████████████  2


//>  ████████████████████████████████████  3


//>  ████████████████████████████████████  4


//>  ████████████████████████████████████  5


#firstName{

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    
    }
    
#lastName{

    text-align: left;
    padding-left: 2vw;
    border-radius: .75vw;
    border-color: transparent;
    font-family: 'regular';
    
    }
    
    input::placeholder {
    
      font-family: "light";
      font-size: 3vw;
      color: gray;
      transform: translateY(-.5vw); /* Adjust the value as needed */
    
    }
